<mat-toolbar color="primary" class="app-toolbar">
  <div class="toolbar-left">
    @if (authService.isLoggedIn()) {
    <span class="app-title" routerLink="/competitions">Live Football Tracker</span>
    }
  </div>

  <div class="toolbar-right">
    @if (!authService.isLoggedIn()) {
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/register">Register</button>
    } @else {
      <button mat-button routerLink="/favorites">My Favorite Clubs</button>
      <button mat-button (click)="logout()">Logout</button>
    }
  </div>
</mat-toolbar>

<main class="app-content">
  <router-outlet></router-outlet>
</main>